<header layout="row">
    <img ng-src="{{headerCtrl.logoUrl}}" alt="Encompass Corporation">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('page1')" name="dashboard">Dashboard</md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="portfolio">Portfolio</md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="settings">Settings</md-nav-item>
        <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin>more_horiz</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)">
                        <md-icon md-menu-align-target></md-icon>
                        Redial
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
            </md-menu-content>
        </md-menu>
    </md-nav-bar>
</header>
