
$blue-grey-50:#ECEFF1;
$blue-grey-100:#CFD8DC;
$blue-grey-200:#B0BEC5;
$blue-grey-300:#90A4AE;
$blue-grey-400:#78909C;
$blue-grey-500:#607D8B;
$blue-grey-600:#546E7A;
$blue-grey-700:#455A64;
$blue-grey-800:#37474F;
$blue-grey-900:#263238;

$light-blue50:#E1F5FE;
$light-blue100:#B3E5FC;
$light-blue200:#81D4FA;
$light-blue300:#4FC3F7;
$light-blue400:#29B6F6;
$light-blue500:#03A9F4;
$light-blue600:#039BE5;
$light-blue700:#0288D1;
$light-blue800:#0277BD;
$light-blue900:#01579B;

$sat-light-blue-A100:#80D8FF;
$sat-light-blue-A200:#40C4FF;
$sat-light-blue-A400:#00B0FF;
$sat-light-blue-A700:#0091EA;